*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
}


header{
    margin-bottom: 10px;
}

header .logo{
    text-align: left;
    margin-left: 230px;
 
}

header .logo img{
    margin-top: 40px;
    align-items: center;
}

header a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: regular;  
    font-size: 16px;  
    color: gray;   
}

header a:hover{
    color: black;
    font-weight: bold;
    transition: 1s;
}

header .logo img{
    margin-right: 150px;
}


.intro{
    background-color: rgb(160, 209, 137);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    padding: 50px 0 0 20px;
    margin: 0 auto;
    width: 900px;    
}

#title  h1{
    text-align: left;
    margin-left: 225px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.intro .text{
    margin-top: 50px;
    margin-left: 55px;
    text-align: left;
    width: 270px;
    font-size: 16px;
    line-height: 30px;
}

.intro .text h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

.intro .image__chef{
    text-align: center;
}

footer{
    background-color: rgb(230, 228, 228);
    padding: 8px;
    bottom: 0; 
    color: gray;
    text-align: center;
    margin-top: 40px; 
    box-sizing: content-box;    
}

/* === CARDS === */

.cards{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    color: black;
    cursor: pointer;
}

.card .img img{
    width: 100%;
    border-radius: 10px;
}
.card .content{
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .info{
    font-size: 13px;
    color: gray;
}

/*=== ABOUT ===*/

.about, 
.story,
.our-recipes{
    width: 900px;
    margin: 0 auto;
}

.about, 
.our-recipes p{
    color: rgb(87, 83, 83);
    line-height: 23px;
    margin-bottom: 20px;
}

.about p + p{
    margin-top: 13px;
}

.story p{
    color: rgb(87, 83, 83);
    line-height: 23px;
}
.story p + p{
    margin-top: 13px;
}

.about h1{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
    color: black;
    
}

.story h2{
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
.our-recipes h2{
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}

/*=== MODAL ===*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 60%;
    margin: 15vh auto;
    position: relative;
}

.modal .close-modal{
    color: gray;
    font-size: 14px;
    position: absolute;
    right: 300px;
    bottom: 40px;
    cursor: pointer;
}

/*=== MODAL ACTIVE ==*/

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-content img{
    width: 65%;
    height: 60%;
    border-radius: 20px;
    top: 20px;
    left: 115px;
    position: absolute;
    box-sizing: border-box ;  
}

.modal-content .title{
    color:black;
    font-size: 18px;
    width: 100%;
    position: absolute;
    top: 290px;
    left: 120px;
}

.modal-content .info{
    color: gray;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 85px;
    left: 120px;
}